
.helloworld-label {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: .5em;
}

.multimonitor-spacer {
	height: 4em;
}

.multimonitor-status-indicators-box {
    spacing: 0px;
}

.multimonitor-status-icon {
	icon-size: 1.09em;
    padding: 0 2px;
    icon-shadow: black 0px 2px 2px;
}

.workspace-thumbnails-left {
  visible-width: 32px;
  spacing: 11px;
  padding: 8px;
  border-radius: 0 9px 9px 0; }

.workspace-thumbnails-left:rtl {
    border-radius: 9px 0 0 9px; }
    
.workspace-thumbnails-left {
  color: #eeeeec;
  background-color: #2e3436;
  border: 1px solid rgba(238, 238, 236, 0.2); }

.workspace-thumbnails-left-314 {
    spacing: 11px;
    visible-width: 32px; /* Amount visible before hovering */
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 11px 11px 11px 7px;

}

.workspace-thumbnails-left-314:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
    padding: 11px 7px 11px 11px;
}
